{% load staticfiles %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Deep Learning Paramaters Tuning</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/css/popup.css' %}" />
		<style>
				#myProgress {
				  width: 100%;
				  background-color: #ddd;
				}
				
				#myBar {
				  width: 0%;
				  height: 30px;
				  background-color: #4CAF50;
				  text-align: center;
				  line-height: 30px;
				  color: white;
				}
				</style>
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="{% url 'index' %} " class="logo" style="font-size: 175%"><strong>Framework for Tuning Deep Learning Network Parameters</strong></a>
					<nav id="nav">
						<a href="{% url 'index' %}">Home</a>
						<a href="{% url 'contact' %}">Contact Us</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>
            {% block content %}
		
            {% endblock %}

		<!-- Three -->
		<footer>
			<section id="three" class="wrapper align-center">
				<label>Made by Siva</label>
			</section>

		</footer>

		<!-- Scripts -->
			
	</body>
</html>